<div class="contextual">
<%= link_to l(:button_edit), edit_pull_path(@pull), :class => 'icon icon-edit', :accesskey => accesskey(:edit) if @pull.attributes_editable? %>
<%= watcher_link(@pull, User.current) %>
<%= link_to l(:button_delete), pull_path(@pull), :data => {:confirm => l(:text_pulls_destroy_confirmation)}, :method => :delete, :class => 'icon icon-del' if @pull.deletable? %>
</div>
