<% if User.current.allowed_to?(:edit_pulls, pull.project) %>
  <div class="contextual">
    <%= link_to l(:button_add),
                new_watchers_path(:object_type => pull.class.name.underscore, :object_id => pull),
                :remote => true,
                :method => 'get' %>
  </div>
<% end %>

<h3><%= l(:label_reviewers) %> (<%= pull.watcher_users.size %>)</h3>

<ul class="pull_reviewers">
  <% pull.reviewers.each do |reviewer| %>
    <li>User</li>
  <% end %>
</ul>
