<% if @pull.safe_attribute? 'watcher_user_ids' -%>
  <div id="watchers_form_container">
    <%= hidden_field_tag 'pull[watcher_user_ids][]', '' %>
    <p id="watchers_form"><label><%= l(:label_pull_watchers) %></label>
    <span id="watchers_inputs">
      <%= pull_watchers_checkboxes(@pull, users_for_new_pull_watchers(@pull)) %>
    </span>
    <span class="search_for_watchers">
    <%= link_to l(:label_search_for_watchers),
                {:controller => 'watchers', :action => 'new', :project_id => @pull.project},
                :class => 'icon icon-add-bullet',
                :remote => true,
                :method => 'get' %>
    </span>
    </p>
  </div>
<% end %>
