table.pulls td.description,
table.pulls td.last_notes {
  color: #777;
  font-size: 90%;
  padding: 4px 4px 4px 24px;
  text-align: left;
  white-space: normal;
}

span#reviewers_inputs {
  overflow: auto;
  display: block;
}

span.search_for_reviewers {
  display: block;
  font-size: 80%;
  line-height: 2.5em;
}

.pull.details .author code {
  border-bottom: 1px solid #6d8cb9;
}

.pulls__files .line-code {
  width: 48%;
}

.pulls__status {
  display: block;
  margin-top: 10px;
}

.pulls__status input {
  float: left;
  margin: 2px 7px 5px 0;
  vertical-align: middle;
}

.pulls__merge {
  border-color: #00BC5B;
  margin-top: 15px;
}

.pulls__merge input + em.info {
  display: inline;
}

.pulls__merge h4 {
  margin-top: 15px;
}

#users_for_reviewer label {
  display: block;
}

.review-status {
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: -2px;
}

.review-status--requested {
  background-color: #E5A935;
}

.review-status--approved {
  background-color: #00BC5B;
}

.review-status--changes_requested {
  background-color: #DA2634;
}

a.pull__commit {
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 3px;
  color: #505050;
  padding: 3px 7px;
  text-decoration: none;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc 0%,#eff3f6 90%);
}

a.pull__commit:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg,#f0f3f6 0%,#e6ebf1 90%);
  background-position: -0.5em;
}

.new-pull-commit input[type=text] {
  width: 100%;
}
